{% extends 'geekshop/base.html' %}
{% load static %}
{% block header %}
    <div class="slider">
        {% include 'geekshop/includes/inc__menu.html' %}
        <div class="text-slider">
            <h3 class="green">{{ topic }} {% now "Y" %}</h3>
            <h3 class="big">{{ heading }}</h3>
            <p>Новый уровень комфорта. Отличные характеристики.</p>
            <a href="#" class="button-order">заказать <img src="{% static 'img/arrow.png' %}" alt=""></a>
        </div>
        <div class="navi">
            <a href="#"></a><a href="#"></a><a href="#"></a>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% include 'geekshop/includes/inc_idx_content.html' %}
{% endblock %}
