<div class="header clearfix">
    <a href="{% url 'index' %}" class="logo"></a>
    <ul class="menu">
        {% for link in menu %}
            <li>
                <a href="{% url link.href %}"
                   class="{% if request.resolver_match.url_name == 'mainapp:index' %}
                            active
                          {% endif %}">
                    {{ link.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>
