{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="hero-white">
        {% include 'includes/inc_main_menu.html' %}
    </div>
{% endblock %}
{% block content %}
    {% include 'includes/inc_category_menu.html' %}
    <div class="featured">
        <h2>Категория: {{ category.name }}</h2>
        <div class="tab-content">
            {% for product in products %}
                <div class="block">
                    <a href="{% url 'basket:basket_add' product.pk %}">
                        <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                        <div class="text">
                            <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }} </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
